.cache/
.ninja_deps
.ninja_log
CMakeCache.txt
CMakeFiles/
CPM_modules/
CTestTestfile.cmake
_deps/
build.ninja
cmake/CPM.cmake
cmake_install.cmake
compile_commands.json
compile_commands.json.tmp9cdd8
cpm-package-lock.cmake
examples/output/
install_manifest.txt
lib__cmake_cxx23.a
utemplConfig.cmake
utemplConfigVersion.cmake
utempl_tests
utempl_tests\[1\]_include.cmake
utempl_tests\[1\]_tests.cmake
libutempl_shared.so
libutempl_static.so
